.iu-center-box {
  width:960px;
}
.index {
  height:100%;
}
.page-content {
  background-color:#FFFFFF;
  height:100%;
}
.box {
  bottom:0px;
  height:197px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:300px;
}
.text-12 {
  font-family:'Roboto', sans-serif;
  height:100%;
  left:0px;
  top:0px;
  width:100%;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .index {
    height:100%;
  }
  .page-content {
    height:100%;
  }
  .section {
    height:100%;
  }
  .box {
    bottom:0px;
    left:0px;
    margin:auto;
    right:0px;
    top:0px;
  }

}