.iu-center-box {
  width:960px;
}
.index {
  height:100%;
}
.page-content {
  background-color:#FFFFFF;
  height:100%;
}
.box {
  border-color:#DBDBDB;
  border-radius:5px;
  border-width:1px;
  bottom:0px;
  height:237px;
  left:0px;
  margin:auto;
  right:0px;
  top:0px;
  width:231px;
}
.box-16 {
  bottom:0px;
  height:73.47%;
  left:0px;
  margin:auto;
  padding-top:10px;
  right:0px;
  top:0px;
  width:95%;
}
.text-12 {
  float:none;
  height:33%;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:180px;
}
.text-11 {
  float:none;
  height:33%;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:left;
  width:180px;
}
.text-14 {
  float:none;
  height:33%;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:left;
  width:180px;
}
@media screen and (max-width:959px) {
  .iu-center-box {
    width:320px;
  }
  .index {
    height:100%;
  }
  .page-content {
    height:100%;
  }
  .section {
    height:100%;
  }
  .box {
    bottom:0px;
    float:none;
    left:0px;
    margin:auto;
    position:absolute;
    right:0px;
    top:0px;
  }
  .box-16 {
    bottom:initial;
    bottom:auto;
    float:none;
    height:75.59%;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
    right:0px;
    top:10%;
  }
  .text-12 {
    height:33%;
    margin-left:auto;
    margin-right:auto;
  }
  .text-11 {
    height:33%;
    margin-left:auto;
    margin-right:auto;
  }
  .text-14 {
    height:33%;
    margin-left:auto;
    margin-right:auto;
  }

}